[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/usr/share/icons/mate/scalable/apps/text-editor-symbolic.svg
Icon[en_US]=/usr/share/icons/mate/scalable/apps/text-editor-symbolic.svg
Name[en_US]=Script Builder
Exec=/home/brian/bin/scriptbuilder
Comment[en_US]=Gambas scripting env
Name=Script Builder
Comment=Gambas scripting env
GenericName[en_US.utf8]=Light Weight editor and testing
